@font-face {
  font-family: "Quantum";
  src: url("./font/Quantum.otf");
}

*, ::before, ::after {
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

:root {
  --primary: #ff5e62;
  --secondary: #ff9966;
  --primary-dark: #2ebf91;
  --secondary-dark: #0ABFBC;
  --light: white;
  --dark: #3b3030;
  --shadow: #3b3030;
  --grey: #c3edfa;
  --radius: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--secondary);
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary));
  background: linear-gradient(to right, var(--primary), var(--secondary));
  color: var(--dark);
  font-family: monospace;
  font-weight: 600;
  font-size: 1.2em;
}